<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <li class="me-auto">
      <a class="navbar-brand" href="#">Navbar</a>
      </li>
    </div>
  </nav> -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html"><h2>Sixteen <em>Clothing</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div class="navbar-search">
            <div class="d-flex" role="search">
              <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"  placeholder="Search" aria-label="Search">
            </div>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
            <li class="nav-item dropdown" *ngIf="IsActive">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" >Hesap</a>
              <ul class="dropdown-menu">
                  <li><button  (click)="ExitUser()">Çıkış yap</button></li>
              </ul>
            </li>
            <li class="nav-item" *ngIf="IsActive==false">
              <a class="nav-link"  routerLink="/login">Giriş</a>
            </li>
            <li class="nav-item" *ngIf="IsActive==false">
              <a class="nav-link" routerLink="/register">Kayıt Ol</a>
            </li>
            <li >
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <app-card-summary></app-card-summary>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
