 <ul *ngFor="let p of UserDetails">
    <li>isim:{{p.firstName}}</li>
    <li>soyisim:{{p.lastName}}</li>
    <li>email:{{p.email}}</li>
    <li *ngIf="p.gender==1">gender:Erkek</li>
    <li *ngIf="p.gender==0">gender:Kadın</li>
    <li>number:{{p.number}}</li>
    <li>tarih:{{p.dateOfBirth}}</li>
    <li>adres:{{p.address}}</li>

</ul>

<ul>
    <select [(ngModel)]="cityId" name="" id="">
        <option  *ngFor="let c of City" value="{{c.id}}">{{c.name}}</option>
    </select>
    {{this.cityId}}
    <select *ngIf="cityId" name="" id="">
        <option  *ngFor="let d of District">{{d.districtName}}</option>
    </select>
</ul>
