<div class="row" id="login-cap">
 <div class="col-3">
   <app-user-account-sidebar></app-user-account-sidebar>
 </div>
 <div class="col-9">
  <div>
    <h4 id="user-info-h">Kullanıcı bilgileri</h4>
  </div>
  <div class="row">
    <div id="user-info" class="col-6" *ngFor="let u of UserDetails">
    <form [formGroup]="this.updateFormGroup">
      <h6 class="title">Üye Bilgileri</h6>
       <div id="first-input-section" class="row">
         <div class="col-6">
           <label class="label">Ad</label>
           <input id="firstName" formControlName="firstName" class="forms">
         </div>
         <div class="col-6">
           <label class="label">Soyad</label>
           <input id="lastName" formControlName="lastName" class="forms">
        </div>
       </div>
       <div id="second-input-section">
          <div>
            <label class="label" >E-Posta</label>
            <input id="email" formControlName="email" class="forms" >
          </div>
       </div>
       <div id="third-input-section">
        <div>
          <label class="label">Cep Telefonu</label>
          <input id="number" formControlName="number" class="forms">
        </div>
       </div>
       <div id="fourth-input-section" class="row">
          <div class="col-4 date">
            <select  (change)="onDaySelected($event)"  name="day" class="select-input">
              <option *ngIf="this.IsUserDate"  disabled selected >{{this.day}}</option>
              <option *ngIf="this.IsUserDate==false"  disabled selected >Gün</option>
              <option  *ngFor="let day of days" [value]="this.day">{{ day }}</option>
            </select>
          </div>
          <div class="col-4 date" id="month-div">
            <select (change)="onMonthSelected($event)" name="month" class="select-input">
              <option *ngIf="this.IsUserDate" disabled selected >{{this.month}}</option>
              <option *ngIf="this.IsUserDate==false" disabled selected >Ay</option>
              <option *ngFor="let month of months" [value]="month">{{ month }}</option>
            </select>
          </div>
          <div class="col-4 date">
            <select (change)="onYearSelected($event)" name="year" class="select-input">
              <option *ngIf="this.IsUserDate" disabled selected >{{this.year}}</option>
              <option *ngIf="this.IsUserDate==false" disabled selected >Yıl</option>
              <option *ngFor="let year of years" [value]="year">{{ year }}</option>
            </select>
          </div>
       </div>
       <div id="fifth-input-section">
        <div><input (change)="checkMale()" id="checkbox-male" name="checkbox-male" type="checkbox"></div><h6>Erkek</h6>
        <div><input (change)="checkFamela()"id="checkbox-famela" name="checkbox-famela" type="checkbox"></div><h6>Kadın</h6>
       </div>
       <div class="btn-div">
        <button (click)="againRun()" appUpdate [productId]="u.id"[entity]="'user'" [productFormGroup]="this.updateFormGroup"  class="update-btn">Güncelle</button>
       </div>
    </form>
    </div>
    <div class="col-6" id="password-update-cap">
     <h6 class="title mb-3">Şifre Güncelle</h6>
      <div id="now-password">
        <label class="label">Şu Anki Şifre</label>
        <input type="password" [ngClass]="nowPasswordInputClass()" [(ngModel)]="this.nowPassword" type="password" class="forms password_forms">
      </div>
      <div *ngIf="this.IsNowPasswordWarning" class="no-some-password-warning" id="now-password-warning">
        <p>Şifre hatalı tekrar deneyin</p>
      </div>
      <div id="new-password" >
        <label class="label">Yeni Şifre</label>
        <input type="password" [ngClass]="setClassPasswords()" [(ngModel)]="this.changePassword" class="forms password_forms ">
        <p>Şifreniz<strong class="warning-password"> en az 7 karakter </strong> ve<strong class="warning-password"> en fazla 64 karakter</strong>  olmalı, harf ve rakam içermelidir.</p>
      </div>
      <div id="new-again-password">
        <label class="label">Yeni Şifre(Tekrar)</label>
        <input type="password" [ngClass]="setClassPasswords()" [(ngModel)]="this.changePasswordAgain" class="forms password_forms password_input-little-margin">
      </div>
      <div *ngIf="this.warningPasswordActive" class="no-some-password-warning">
        <p>Lütfen Şifreleri Kurallarına uygun ve aynı girin</p>
      </div>
      <div *ngIf="this.IsChangePasswordHtml" class="change-password-success-warning">
        <h6 >Şifre degiştirme Başarılı</h6>
      </div>
      <div class="btn-div" id="password-btn-div">
        <button [changePassword]="this.changePassword" [changePaswwordAgain]="this.changePasswordAgain" (click)="createVerifyPasswordForm();createPasswordForm()"
        appUpdate [productId]="this.userId"[entity]="'password'" [productFormGroup]="this.updatePasswordGroup" [verifypPasswordFormGroup]="this.verifyPasswordGroup"
         class="update-btn">Güncelle</button>
      </div>
    </div>
  </div>
 </div>
</div>























