<div id="banner-cap">
  <div class="row">
   <div id="banner-image" class="col-8">

   </div>
   <div id="populer-product" class="col-4 text-white">
     <div *ngFor="let product of populerProduct" id="product-cap">
        <div class="product" id="populer-produt_div">
          <div  >
            <form [formGroup]="this.favoriteAddForm">
              <input type="hidden" id="productId" name="productId" value="{{product.productId}}">
            </form>
            <img (click)="getProductId(product.productId)"  appAdd [entityAddForm]="this.favoriteAddForm" [entity]="'favorite'" class="product-favorite-icon" [src]="this.defaultFavoriteImage">
          </div>
            <a  routerLink="/products/{{product.productId}}" (click)="getProductDetails(product.productId)">
             <h6>Kategorideki en popüler ürün</h6>
             <img [src]="this.imageUrl+product.imagePath" class="product-img">
             <div class="product-name default-font">{{product.productName |uppercase}}</div>
             <div><img [src]="getStartImage(product.startCount)" class="product-starts"> <span class="product-reviews">{{product.reviews}}</span></div>
             <div [ngClass]="IsProductDiscount(product)" class="product-price"><h6>{{product.unitPrice}} TL</h6></div>
             <div *ngIf="product.discount>0" class="product-price price-discount"><h6>{{product.unitPrice |discount:product.discount}} TL</h6></div>
            </a>
          </div>
     </div>
   </div>
  </div>
</div>

<div id="brands-cap">
  <h3 class="text-center mb-4">Bu kategorideki markalarımız</h3>
  <div class="row">
    <div class="col-4 brand" *ngFor="let p of brand">
      <img class="brand-img" [src]="this.imageUrl+p.imageUrl">
    </div>
  </div>
</div>

<div id="latest-products">
  <div class="">
    <div class="rows">
      <div class="col_2"*ngFor="let product of categoryProduct |filterPipe:filterText">
        <div class="product">
          <div>
            <form [formGroup]="this.favoriteAddForm">
              <input type="hidden" id="productId" name="productId" value="{{product.productId}}">
            </form>
            <img (click)="getProductId(product.productId)"  appAdd [entityAddForm]="this.favoriteAddForm" [entity]="'favorite'" class="product-favorite-icon" [src]="this.defaultFavoriteImage">
          </div>
          <div id="cargo-icon-cap">
            <img *ngIf="product.freeCargo" class="product-cargo-icon" [src]="this.freeCargo">
            <img *ngIf="product.fastCargo" class="product-cargo-icon" [src]="this.fastCargo">
        </div>
          <a  routerLink="/products/{{product.productId}}" (click)="getProductDetails(product.productId)">
           <img [src]="this.imageUrl+product.imagePath" class="product-img">
           <div class="product-name default-font">{{product.productName |uppercase}}</div>
           <div><img [src]="getStartImage(product.startCount)" class="product-starts"> <span class="product-reviews">{{product.reviews}}</span></div>
           <div [ngClass]="IsProductDiscount(product)" class="product-price"><h6>{{product.unitPrice}} TL</h6></div>
             <div *ngIf="product.discount>0" class="product-price price-discount"><h6>{{product.unitPrice |discount:product.discount}} TL</h6></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

