<div id="navi-cap">
  <div id="navi-flex">
   <div id="first-section" class="navi-child">
      <h4>Trendyol</h4>
      <p>Biz Kimiz</p>
      <p>İletişim</p>
   </div>
   <div id="second-section" class="navi-child">
      <h4>About Us</h4>
      <p>Who we are</p>
      <p>Contact Us</p>
      <p>Careers</p>
   </div>
   <div id="third-section" class="navi-child">
      <h4>Kampanyalar</h4>
      <p>Aktif Kampanyalar</p>
      <p>Hediye Fikirleri</p>
      <p>Trendyol Fırsatları</p>
   </div>
   <div id="fourth-section" class="navi-child">
      <h4>Yardım</h4>
      <p>Sıkça Sorulan Sorular</p>
      <p>İşlem Rehberi</p>
      <p>Nasıl İade Edebilirim</p>
   </div>
   <div id="fifth-section" class="navi-child">
    <h4>Sosyal Medya</h4>
    <div>
        <img class="social-icon" [src]="this.facebookUrl">
    </div>
    <div>
        <img class="social-icon" [src]="this.instagramUrl">
    </div>
    <div>
        <img class="social-icon" [src]="this.twitterUrl">
    </div>
    <div>
        <img class="social-icon" [src]="this.whatsappUrl">
    </div>
 </div>
  </div>
</div>
