<section>
    <div id="cap">
      <div id="cap_product">
        <div id="cap-row">
          <div class="product" id="first-product">
            <a>               <!-- a burda kalsın -->
             <div class="product-img"></div>
             <div class="product-p"><p>açıklamaaçsddsddddssdsdsddsdsdsdsdds ıdsdssdsdsdklamaçaıklamaçsadçasdsadasdasd</p></div>
             <div class="product-h"><h4>99.99₺</h4></div>
            </a>
          </div>
        <a>
          <div class="product">
            <div class="product-img"></div>
            <div class="product-p"><p>açıklamaaçsddsddddssdsdsddsdsdsdsdds ıdsdssdsdsdklamaçaıklamaçsadçasdsadasdasd</p></div>
            <div class="product-h"><h4>99.99₺</h4></div>
          </div>
        </a>
        <a>
          <div class="product">
            <div class="product-img"></div>
            <div class="product-p"><p>açıklamaaçsddsddddssdsdsddsdsdsdsdds ıdsdssdsdsdklamaçaıklamaçsadçasdsadasdasd</p></div>
            <div class="product-h"><h4>99.99₺</h4></div>
          </div>
        </a>
        <a>
          <div class="product">
            <div class="product-img"></div>
            <div class="product-p"><p>açıklamaaçsddsddddssdsdsddsdsdsdsdds ıdsdssdsdsdklamaçaıklamaçsadçasdsadasdasd</p></div>
            <div class="product-h"><h4>99.99₺</h4></div>
          </div>
        </a>
        </div>
      </div>
    </div>
</section>
