 <section>
    <div id="cap"  [style.background-image]="'url(' + getImageSource() + ')'">
      <div id="cap_product">
        <div id="cap-row">
          <div class="product" *ngFor="let p of productCamera">
            <a>
              <img [src]="this.imageUrl+p.imagePath" class="product-img">
             <div class="product-p default-font"><p>{{p.productName}}</p></div>
             <div><img [src]="getStartImage(p.startCount)" class="product-starts"> <span class="product-reviews">{{p.reviews}}</span></div>
             <div class="product-price"><h4>{{p.unitPrice}}<span class="product-price-unit">TL</span></h4></div>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
