<div class=" content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Ürün Listesi</h4>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>İsim</th>
                    <th>Açıklama</th>
                    <th>Stok Adedi</th>
                    <th class=" text-center">Fiyat</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of products">
                    <td>{{p.productName}}</td>
                    <td>{{p.quantityPerUnit}}</td>
                    <td>{{p.unitsInStock}}</td>
                    <td class=" text-center">{{p.unitPrice}}₺</td>
                    <td><button routerLink="/update/{{p.productId}}" class="btn btn-success">Güncelle</button></td>
                    <td><button routerLink="/delete/product/{{p.productId}}" appDelete [entity]="'product'" [productId]="p.productId" class="btn btn-danger">Sil</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-12">
        <div class=" card card-plain">
          <div class=" card-header">
            <h4 class=" card-title">Kategori listesi</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class="text-primary">
                  <tr>
                    <th>İsim</th>
                    <th>Açıklama</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of categories">
                    <td>{{c.categoryName}}</td>
                    <td>{{c.description}}</td>
                    <td><button class="btn btn-success">Güncelle</button></td>
                    <td><button class="btn btn-danger">Sil</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-12">
        <div class=" card card-plain">
          <div class=" card-header">
            <h4 class=" card-title">Çalışan listesi</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class="text-primary">
                  <tr>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Başlık</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of employee">
                    <td>{{c.firstName}}</td>
                    <td>{{c.lastName}}</td>
                    <td>{{c.title}}</td>
                    <td><button class="btn btn-success">Güncelle</button></td>
                    <td><button class="btn btn-danger">Sil</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-12">
        <div class=" card card-plain">
          <div class=" card-header">
            <h4 class=" card-title">Çalışan listesi</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class="text-primary">
                  <tr>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of user">
                    <td>{{c.id}}</td>
                    <td>{{c.firstName}}</td>
                    <td>{{c.lastName}}</td>
                    <td>{{c.email}}</td>
                  <td><button class="btn btn-success">Güncelle</button></td>
                  <td><button class="btn btn-danger">Sil</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="cliamAddForm">
        <div class="form-group mb-3">
          <input type="number" id="userId" formControlName="userId" class="form-control" placeholder="Kullancı Id'si">
       </div>
       <div class="form-group mb-3">
        <select type="number" id="" formControlName="operationClaimId">
          <!-- <input type="number" id="operationClaimId" formControlName="operationClaimId" class="form-control" placeholder="Ürün ismi"> -->
          <option *ngFor="let o of operationClaim" [ngValue]="o.id">{{o.name}}</option>
        </select>
       </div>
      </form>
      <div class="card-footer">
        <button appAdd [entityAddForm]="this.cliamAddForm" [entity]="'claim'" class="btn btn-primary">Ekle</button>
    </div>
    </div>
  </div>

