#login-cap{
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  width: 480px;
  height: 400px;
  margin: 0 auto;
}
#login-title-first{
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
  color:rgb(63, 63, 63);
}
#login-title{
  margin-bottom: 35px;
  text-align: center;
  color:rgb(39, 39, 39);
  font-size: 15px;
}
.forms{
  display: block;
  width: 320px!important;
  height: 40px!important;
  margin-left: 60px;
  border-radius: 3px;
  border: 1px rgb(198, 198, 198) solid;
}
.forms-title{
  font-size: 16px;
  margin-left:60px ;
  margin-bottom: 5px;
}
#form-eposta-cap{
  padding-top: 30px;
}
#form-eposta{
  margin-bottom: 30px;
}
#login-btn{
  color: white;
  font-size: 19px;
  margin-left: 70px;
  margin-top:10px;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: green;
}
#login-remember-password{
  color: rgb(70, 136, 70);
  font-family:'Gill Sans';
  font-size: 12px;
  text-decoration:underline;
  text-align: right;
  margin-right: 100px;
  margin-top: 10px;
}
#warning-error-login{
  color: rgb(189, 63, 63);
  border: 1px rgb(219, 60, 60) solid;
  background-color:rgb(255, 200, 200);
  width: 360px;
  text-align: center;
  margin-left:50px;
  padding-top:5px ;
  border-radius: 3px;
}
#warning-error-login h6{
  font-size: 12px;
}

