<main>
  <h2 id="login-title-first">MERHABA</h2>
  <h3 id="login-title">Trendyol'a<strong> giriş yap </strong>,fırsatları kaçırma</h3>
  <div id="login-cap">
    <div style="opacity: 0;;margin-top: 15px;">""</div>
    <div *ngIf="this.loginError" id="warning-error-login">
      <h6>E-posta adresiniz ve/veya şifreniz hatalı.</h6>
    </div>
    <form [formGroup]="loginForm">
      <div id="form-eposta-cap">
        <label class="forms-title">E-Posta</label>
        <input type="email"
        formControlName="email"
         class="forms"
         id="form-eposta"
         placeholder="E-Posta" #email>
      </div>
      <div>
        <label class="forms-title">Şifre</label>
        <input type="password"
        formControlName="password"
          class="forms"
          id="form-password"
           placeholder="Şifre">
      </div>
      <div id="login-remember-password">
        <h6>Şifremi Unuttum</h6>
      </div>
      <div>
        <button (click)="login(email.value)" id="login-btn">Giriş yap</button>
      </div>
    </form>
  </div>
</main>
