 <header>
  <div class="row">
      <div class="col-2">
        <h1>Trendyol</h1>
      </div>
      <div class="col-6" id="search-input">
          <div>
            <input [(ngModel)]="filterText" id="filterText"  placeholder="Aradığınız ürünü veya kategoriyi buraya yazınız">
          </div>
      </div>
      <div class="col-2" id="basket">
          <div id="navbarSupportedContent">
            <app-card-summary></app-card-summary>
          </div>
      </div>
      <div class="col-1">
          Favoriler
      </div>
      <div class="col-1">
        <div class="nav-item dropdown" *ngIf="IsActive==false">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Giriş Yap</a>
          <ul class="dropdown-menu">
            <li routerLink="/login">Giriş Yap</li>
            <li routerLink="/register">Kayıt Ol</li>
          </ul>
        </div>
        <div class="nav-item dropdown" *ngIf="IsActive">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" >Hesap</a>
          <ul class="dropdown-menu">
              <li><button  routerLink="/userInfo">Kullanıcı Bilgileri</button></li>
              <li><button  routerLink="/userOrder">Siparişlerim</button></li>
              <li><button  (click)="ExitUser()">Çıkış yap</button></li>
          </ul>
        </div>
      </div>
  </div>
</header>
