header{
  margin-top:15px;
}
.navi{
  display: flex;
}
#logo{
  margin-right: 75px;
}
#search-input{
    margin-top:10px;
    height:35px;
}
input{
    padding: .7rem!important;
    border: 0;
    color: #2f2f2f;
    font-size: .8rem;
    margin-right: 250px;
  }
  input[id="filterText"] {
    outline: 0;
    width: 100%;
    background: rgb(239, 239, 239);
    padding: 0 1.6rem;
    border-radius: .7rem;
    appearance: none;
    transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
#basket{
  text-align: right;
  margin-left: 250px;
  margin-right: 50px;
  margin-top: 15px;
}
#heart-icon{
  display: inline;
  width: 25px;
  height: 25px;
  margin-top: -3px;
}
#heart-icon:hover{
  src: local("https://localhost:44331/Uploads/Images/heart-icon.png");
}
#favorite{
  margin-top: 7px;
  margin-left:5px;
  font-size: 1rem;
  display: inline-block;
}
#account{
  margin-left: 50px;
  margin-top: 13px;
}
.mb-1{
margin-top: 10px;
}
