header{
  margin-top:15px;
}
#search-input{
    margin-top:10px;
    height:35px;
}
input{
    padding: .7rem!important;
    border: 0;
    color: #2f2f2f;
    font-size: .8rem;
  }
  input[id="filterText"] {
    outline: 0;
    width: 100%;
    background: rgb(239, 239, 239);
    padding: 0 1.6rem;
    border-radius: .7rem;
    appearance: none;
    transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
#basket{
  text-align: right;
}
