 <header>
  <div class="row">
      <div class="col-2">
        <h1>Trendyo</h1>
      </div>
      <div class="col-5" id="search-input">
          <div >
            <input (keydown.enter)="submit()" [(ngModel)]="filterText" id="filterText"  placeholder="Aradığınız ürünü veya kategoriyi buraya yazınız">
            <button routerLink="/product" #productLink style="display: none;"></button>
          </div>
      </div>
      <div class="col-2" id="basket"><a routerLink="/basket">Sepet</a></div>
      <div class="col-2" (mouseenter)="changeImg()" (mouseleave)="resetImg()">
        <a routerLink="/userFavorite">
        <img id="heart-icon"  [src]="this.defaultHeartFavorite">
        <h1 id="favorite">Favoriler</h1>
      </a>
      </div>
      <div class="col-1">
        <div class="nav-item dropdown" *ngIf="IsActive==false">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Giriş Yap</a>
          <ul class="dropdown-menu">
            <li routerLink="/login">Giriş Yap</li>
            <li routerLink="/register">Kayıt Ol</li>
          </ul>
        </div>
        <div class="nav-item dropdown" *ngIf="IsActive">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" >Hesap</a>
          <ul class="dropdown-menu">
              <li><button  routerLink="/userInfo">Kullanıcı Bilgileri</button></li>
              <li><button  routerLink="/userOrder">Siparişlerim</button></li>
              <li><button  routerLink="/userComment">Degerlendirmeler</button></li>
              <li><button  (click)="ExitUser()">Çıkış yap</button></li>
          </ul>
        </div>
      </div>
  </div>
</header>
