#category-cap{
    --bs-gutter-x:0!important;
    padding-left:2rem!important;
    margin-left:12rem;
    margin-top:1rem;
    margin-bottom:1rem;
}
#category-cap li{
   margin-left:25px;
}
#category-cap li:hover{
    color:gray;
 }
