<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
    ngModel:input tan degişirse,component teki filterText degişir.filterText başka yerden degişirse genede degişir,FormModule dahil et
     ngModel ile input'u compoent te baglayabiliyoruz
    <label for="filterText" class="form-label">Ürün Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi girin">
</div>
<div *ngIf="filterText" class="alert alert-danger">
  {{filterText}} aradınız
</div>
<table *ngIf="dataLoaded!=false" class="table">
   <thead>
    <tr>
        <th>Id</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Kdv'li Fiyat</th>
        <th>Stok Adedi</th>
        <th></th>
    </tr>
   </thead>
   <tbody>
    <tr *ngFor="let product of products |filterPipe:">
        <td>{{product.productId}}</td>
        <td>{{product.productName |uppercase}}</td>
        <td>{{product.categoryId}}</td>
        <td>{{product.unitPrice |currency}}</td>
        <td>{{product.unitPrice|vatAdded:10|currency }}</td>
        <td>{{product.unitInStock}}</td>
        <td><button (click)="addToCard(product)" class="btn btn-success">Sepete ekle</button></td>
    </tr>
   </tbody>
</table> -->
<app-product-section1></app-product-section1>
<app-product-section2></app-product-section2>

<section>
  <div class="row">
    <h1>En Popüler Ürünlerimiz</h1>
    <div class="col-md-4" *ngFor="let p of productsPop|filterPipe:filterText">
     <a routerLink="/products/{{p.productId}}" (click)="getProductDetails(p.productId)">
          <div class="product-item">
            <div class="down-content">
              <h4>{{p.productName |uppercase}}</h4>
              <h6>{{p.unitPrice |currency}}</h6>
              <p>{{p.quantityPerUnit|lowercase}}</p>
              <ul class="stars">
                <li><span>Reviews({{p.reviews}})</span></li>
              </ul>
              <button (click)="addToCard(p)" class="btn btn-out-dark btn-sm">Sepete ekle</button>
            </div>
          </div>
         </a>
    </div>
  </div>
</section>

<div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
          </div>
        </div>
       <div class="row" *ngIf="products.length>1 else noProducts">
        <div class="col_2"*ngFor="let product of products |filterPipe:filterText">
         <div class="product" id="first-product">
          <a  routerLink="/products/{{product.productId}}" (click)="getProductDetails(product.productId)">
          <div *ngFor="let p of productImg"><img [src]="getImageSource(p)" class="product-img"></div>
           <div class="product-name">{{product.productName |uppercase}}</div>
           <!-- <div class="product-p"><p>{{product.quantityPerUnit |lowercase}}</p></div> -->
           <div class="product-price"><h6>{{product.unitPrice |currency}}</h6></div>
          </a>
        </div>
        </div>
       </div>
      </div>
    </div>
  </div>

<ng-template #noProducts>
  <div class="alert alert-danger">
    NO PRODUCTS
  </div>
</ng-template>
