.product{
  margin-left:15px;
  margin-top:15px;
  margin:5px;
  width: 15.5rem;
  height:20rem;
}
.product-img{
  width: 100%;
  height: 55%;
}
.product-p{
  height: 50px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow-y:hidden;
  inline-size: 100%;
}
.product-h{
  margin-top:20px;
}
.col_2{
  width: 20%;
  flex: 0 0 auto;
}
