<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
    ngModel:input tan degişirse,component teki filterText degişir.filterText başka yerden degişirse genede degişir,FormModule dahil et
     ngModel ile input'u compoent te baglayabiliyoruz
    <label for="filterText" class="form-label">Ürün Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi girin">
</div>
<div *ngIf="filterText" class="alert alert-danger">
  {{filterText}} aradınız
</div>
<table *ngIf="dataLoaded!=false" class="table">
   <thead>
    <tr>
        <th>Id</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Kdv'li Fiyat</th>
        <th>Stok Adedi</th>
        <th></th>
    </tr>
   </thead>
   <tbody>
    <tr *ngFor="let product of products |filterPipe:">
        <td>{{product.productId}}</td>
        <td>{{product.productName |uppercase}}</td>
        <td>{{product.categoryId}}</td>
        <td>{{product.unitPrice |currency}}</td>
        <td>{{product.unitPrice|vatAdded:10|currency }}</td>
        <td>{{product.unitInStock}}</td>
        <td><button (click)="addToCard(product)" class="btn btn-success">Sepete ekle</button></td>
    </tr>
   </tbody>
</table> -->
<app-product-section1></app-product-section1>
<app-product-section2></app-product-section2>
<app-home-page-section></app-home-page-section>

<section id="populer-product-cap">
  <div class="row">
    <h1 id="populer-product-title">En çok satan ürünlerimiz</h1>
    <div class="col_2" *ngFor="let product of productsPop|filterPipe:filterText">
      <div class="product" id="populer-product">
        <div id="cargo-icon-cap">
          <img *ngIf="product.freeCargo" class="product-cargo-icon" [src]="this.freeCargo">
          <img *ngIf="product.fastCargo" class="product-cargo-icon" [src]="this.fastCargo">
      </div>
        <a  routerLink="/products/{{product.productId}}" (click)="getProductDetails(product.productId)">
         <img [src]="this.imageUrl+product.imagePath" class="product-img">
         <div class="product-name default-font">{{product.productName |uppercase}}</div>
         <div><img [src]="getStartImage(product.startCount)" class="product-starts"> <span class="product-reviews">{{product.reviews}}</span></div>
         <div [ngClass]="IsProductDiscount(product)" class="product-price"><h6>{{product.unitPrice}} TL</h6></div>
         <div *ngIf="product.discount>0" class="product-price price-discount"><h6>{{product.unitPrice |discount:product.discount}} TL</h6></div>
        </a>
        <!-- <form [formGroup]="this.basketAddForm">
          <input type="hidden" id="productId" name="productId" value="{{product.productId}}">
      </form>
      <button (click)="getProductId(product.productId)"  appAdd [entityAddForm]="this.basketAddForm" [entity]="'basket'" class="btn btn-out-dark btn-sm">Sepete ekle</button> -->
      </div>
    </div>
  </div>
</section>

<div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
          </div>
        </div>
       <div class="row">
        <div class="col_2"*ngFor="let product of products |filterPipe:filterText">
         <div class="product" id="first-product">
        <div>
          <form [formGroup]="this.favoriteAddForm">
            <input type="hidden" id="productId" name="productId" value="{{product.productId}}">
          </form>
          <img (click)="getProductId(product.productId)"  appAdd [entityAddForm]="this.favoriteAddForm" [entity]="'favorite'" class="product-favorite-icon" [src]="this.defaultFavoriteImage">
        </div>
        <div id="cargo-icon-cap">
          <img *ngIf="product.freeCargo" class="product-cargo-icon" [src]="this.freeCargo">
          <img *ngIf="product.fastCargo" class="product-cargo-icon" [src]="this.fastCargo">
      </div>
          <a  routerLink="/products/{{product.productId}}" (click)="getProductDetails(product.productId)">
           <img [src]="this.imageUrl+product.imagePath" class="product-img">
           <div class="product-name default-font">{{product.productName |uppercase}}</div>
           <div><img [src]="getStartImage(product.startCount)" class="product-starts"> <span class="product-reviews">{{product.reviews}}</span></div>
           <div [ngClass]="IsProductDiscount(product)" class="product-price"><h6>{{product.unitPrice}} TL</h6></div>
           <div *ngIf="product.discount>0" class="product-price price-discount"><h6>{{product.unitPrice |discount:product.discount}} TL</h6></div>
          </a>
        </div>
        </div>
       </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.warningView" id="favorite-warning">
    Ürün favorilere eklendi
  </div>
<!-- <ng-template #noProducts>
   *ngIf="products.length>1 else noProducts"
  <div class="alert alert-danger">
    NO PRODUCTS
  </div>
</ng-template> -->
