#cap{
 margin-top: 30px;
 display: flex;
 flex-direction: column;
 height: 100%;
 width: 100%;
}
.cap_section{
    height: 34px;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 50px;
    margin-left: 50px;
    box-shadow:0px 8px 13px -7px rgba(108, 108, 108, 0.671) ;
    border-bottom: 1px rgb(205, 205, 205) solid;
    border-radius: 5px;
}
.cap_section:hover{
    box-shadow:0px 8px 13px -7px rgba(0, 0, 0, 0.9) ;
}
.cap_section p{
    margin-top: 3px;
}
#cap_title{
    color:var(--title-color);
    margin-left: 100px;
    margin-bottom: 10px;
}
