:root{
  --btn-color:rgb(71, 161, 71);
  --main-color:rgb(71, 161, 71);
  --title-color:rgb(75, 75, 75);
}
.main-color{
  color:rgb(71, 161, 71)!important;
}
.body{
 margin-left:100px;
 margin-right:100px;
}
.page-cap{
  background-color: rgb(250, 250, 250);
  padding-top: 10px;
}
.light-cap{
  background-color: #fff;
  border: 1px rgb(198, 198, 198) solid!important;
  padding: 15px;
  border-radius: 5px;
}
a {
	text-decoration: none!important;
  cursor: pointer!important;
  color: black !important;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.default-font{
  font-family:sans-serif, Times, serif;
  font-size: 13px!important;
  font-weight: 400!important;
  color:black!important;
  margin:5px;
  margin-left:10px!important;;
  inline-size: 100%;
  overflow:hidden;
  word-wrap: break-word;
}
.product-price-unit{
    font-size: 14px;
    margin-left:5px;
}
.rows{
  display: flex;
  flex-wrap: wrap;
}
.col_2{
  width: 20%;
  flex: 0 0 auto;
}
.line-tag{
text-decoration:line-through!important;
line-height: 1px;
color:rgb(169, 169, 169)!important;
font-size: 12px!important;
}
