<div class="body page-cap">
  <div id="product-page" class="row">
    <div class="col-6">
      <div *ngFor="let p of products"><img class="product-img" [src]="this.imageUrl+p.imagePath"></div>
      <!-- <div id="images-cap" *ngFor="let img of productImg">
        <img class="image" [src]="this.imageUrl+img.imagePath">
      </div> -->
    </div>
    <div class="col-6 page-cap" *ngFor="let p of products">
      <div class="product-first-section">
        <h6 class="product-name">{{p.productName}}</h6>
        <div class="product-brand" *ngFor="let b of productOfBrand">{{b.name}}</div>
        <div class="product-price-start">
          <div class="product-price">{{p.unitPrice}} TL</div>
          <div class="product-start-count">{{p.startCount}}</div>
          <div class="product-start-cap"><img class="product-start" [src]="getStartImage(p.startCount)"></div>
        </div>
        <div class="product-reviews-top">{{p.reviews}} Degerlendirme</div>
      </div>
      <div class="product-second-section">
        <div class="product-seller">
         <span class="span">Satıcı:</span>
         <span>{{p.seller}}</span>
         <div class="product-reviews">
          Ürün Yorumları: {{p.reviews}}
         </div>
        </div>
      </div>
      <div class="product-free-cargo-warning"><p>100 TL üzeri kargo bedava</p></div>
      <div class="product-third-section">
        <div class="basket-count">
           <div (click)="downCount()" class="basket-count-icon">-</div>
           <div class="basket-count-int">{{this.productBasketCount}}</div>
           <div (click)="upCount()" class="basket-count-icon">+</div>
        </div>
        <div>
          <form [formGroup]="this.basketAddForm">
            <input type="hidden" id="productId" name="productId" value="{{p.productId}}">
          </form>
          <button (click)="getProductId(p.productId)"  appAdd [entityAddForm]="this.basketAddForm" [entity]="'basket'" class="btn-basket">Sepete ekle</button>
        </div>
       </div>
       <div>

       </div>
    </div>
  </div>
</div>
